<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width" />
	<style>
		* {
			box-sizing: border-box;
		}

		body {
			font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
			margin: 0;
			padding: 0;
			height: 100%;
		}

		a {
			text-decoration: none;
			color: #20123a;
			transition: all 0.2s ease;
		}

		a:hover {
			color: #20123ad5;
			transition: all 0.2s ease;
		}

		a:hover,
		a:focus,
		a:active {
			transition: all 0.2s ease;
		}
	</style>
</head>

<body style="padding: 0; margin: 0;">
	<table width="100%; padding: 0; margin: 0;">
		<tr>
			<td width="100%">
				<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
				<html>

				<head>
					<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
					<title></title>
					<style type="text/css">
						.ReadMsgBody {
							width: 100%;
						}

						.ExternalClass {
							width: 100%;
						}

						@media only screen and (max-width: 479px) {

							td[class="web"],
							table[class="web"] {
								display: none !important;
							}
						}
					</style>
				</head>

				<body bgcolor="#ffffff" style="background-color:#ffffff; margin:0; padding:0;" topmargin="0">
					<div style="font-size: 1px; color: #ffffff; display: none;">
						<p>You're nearly there </p> <br />
						<p> Welcome to Endeavour Today, Before we can get started, we need to quickly verify your email
							address. </p> <br />
						<p> Click the link below and sign in using your new Adobe ID: <%= email %>
						</p> <br />
						<p> Verify your email: </p><br />
						<%= link; %>
							</p>
				</body>

				</html>
			</td>
		</tr>
	</table>
</body>

</html>